.env
.next
node_modules
dist
/heroku-setup
/yarn-error.log
/@app/e2e/cypress/videos
/@app/e2e/cypress/screenshots
/@app/graphql/index.*
/@app/graphql/modules.*
.agignore
*.tsbuildinfo
.ethereal
yarn-error.log
.DS_Store
